@model Customer

@{
    ViewData["Title"] = "Customer details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-dark">
                        <p class="card-text">
                            <h5 class="card-title text-center">
                                Details for @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <p> </p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Borrowed Books: </b>
                            <hr />
                            <div class="row">
                                @foreach (var customer in Model.Customer_Books)
                                {
                                    <div>
                                        <ul>
                                            <li>
                                                @customer.Book.Titel by @customer.Book.Author
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 p-2">
                    <div class="col">
                        <a asp-action="List" class="btn btn-success w-100 float-right">Back to Customer List</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>