@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2 class="display-4 p-5">Welcome to Library Manager System v0.1</h2>
    <img src="~/Images/books-g206adb6d2_640.jpg" class="img-fluid rounded mx-auto d-block" alt="Image of books" />
</div>
