
@model Book

@{
    ViewData["Title"] = "Book details";
}

<div class="row">

    
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-dark">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Titel by @Model.Author
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-5">
                       <img src="@Model.ImageURL" alt="Cover image of @Model.Titel" style="max-width: 150px"/>
                    </div>
                    
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"></p>
                        <p class="card-text"></p>

                        <p class="card-text">
                            <b>Status: </b>
                            <hr />
                            <div>
                                @foreach (var customer in Model.Customer_Books)
                                {
                                    <div>
                                        @if (customer.ReturnDate == null)
                                        {
                                            <span class="btn bg-danger text-white">Borrowed</span>
                                        }
                                        else
                                        {
                                            <span class="btn bg-info text-white">Available</span>
                                        }
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 p-2">
                    <div class="col">
                        <a asp-action="BookList" class="btn btn-success w-100 float-right">Back to Book List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>